doctype html
html
    head
        meta(charset='utf-8', content='target-densitydpi=320,width=640,user-scalable=no')
        noscript
            meta(http-equiv='refresh', content='0')
        title
        meta#seo_description(name='description', content='泡泡连连打')
        meta(name='viewport', content='initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no')
        meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1', media='(device-height: 568px)')
        meta(name='full-screen', content='yes')
        link(rel='icon', href='', type='image/x-icon')
        link(rel='stylesheet',type='text/css', href='css/hitbubble.css')
        script#jquery.library(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='js/hitbubble.js')
    body
        h1 泡泡连连打
        #box
            .status
                p 目标分
                #target 500
                p 分数
                #score 0
                br
            #star_box
        #show

