doctype html
html
    head(lang='en')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(charset='UTF-8')
        title 打地鼠
        link(rel='stylesheet', type='text/css', href='css/hitmouse.css')

    body
        h1 打地鼠
        h2 得分:0
        h2 剩余机会:3
        .diShu
        canvas 对不起。。。
        //img#temp(src='images/hitmouse/ds.png')

        script(src='js/hitmouse.js')
