doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Fifteen_puzzle
        link(rel='stylesheet', type='text/css', href='css/puzzle.css')
        script(type='text/javascript', src='js/puzzle.js')
    body
        h1  拼图游戏
        #result
        #picture
        #restart 重新开始
        #change_image 更换图片
